# ETL using Databricks & Azure Data Lake

## Transform

#### Pick up the required columns

In [0]:
dl_spec = ""
dl_key = ""

spark.conf.set(
    dl_spec,
    dl_key
)

circuits_df = spark.read.option("header",True).csv("abfss://container@arianazuredl1.dfs.core.windows.net/circuits.csv")
races_df = spark.read.option("header",True).csv("abfss://container@arianazuredl1.dfs.core.windows.net/races.csv")

In [0]:
from pyspark.sql.functions import col

In [0]:
circuits_selected_df = circuits_df.select(col("circuitId").alias("circuit_id"), col("circuitRef").alias("circuit_ref"), col("name"),
                                          col("location"), col("country"), col("lat").alias("latitude"), col("lng").alias("longitude"), col("alt").alias("altitude"))

In [0]:
circuits_selected_df.show()

+----------+--------------+--------------------+------------+---------+--------+---------+--------+
|circuit_id|   circuit_ref|                name|    location|  country|latitude|longitude|altitude|
+----------+--------------+--------------------+------------+---------+--------+---------+--------+
|         1|   albert_park|Albert Park Grand...|   Melbourne|Australia|-37.8497|  144.968|      10|
|         2|        sepang|Sepang Internatio...|Kuala Lumpur| Malaysia| 2.76083|  101.738|      18|
|         3|       bahrain|Bahrain Internati...|      Sakhir|  Bahrain| 26.0325|  50.5106|       7|
|         4|     catalunya|Circuit de Barcel...|    Montmeló|    Spain|   41.57|  2.26111|     109|
|         5|      istanbul|       Istanbul Park|    Istanbul|   Turkey| 40.9517|   29.405|     130|
|         6|        monaco|   Circuit de Monaco| Monte-Carlo|   Monaco| 43.7347|  7.42056|       7|
|         7|    villeneuve|Circuit Gilles Vi...|    Montreal|   Canada|    45.5| -73.5228|      13|
|         8|   magny_cours|Circuit de Nevers...| Magny Cours|   France| 46.8642|  3.16361|     228|
|         9|   silverstone| Silverstone Circuit| Silverstone|       UK| 52.0786| -1.01694|     153|
|        10|hockenheimring|      Hockenheimring|  Hockenheim|  Germany| 49.3278|  8.56583|     103|
|        11|   hungaroring|         Hungaroring|    Budapest|  Hungary| 47.5789|  19.2486|     264|
|        12|      valencia|Valencia Street C...|    Valencia|    Spain| 39.4589|-0.331667|       4|
|        13|           spa|Circuit de Spa-Fr...|         Spa|  Belgium| 50.4372|  5.97139|     401|
|        14|         monza|Autodromo Naziona...|       Monza|    Italy| 45.6156|  9.28111|     162|
|        15|    marina_bay|Marina Bay Street...|  Marina Bay|Singapore|  1.2914|  103.864|      18|
|        16|          fuji|       Fuji Speedway|       Oyama|    Japan| 35.3717|  138.927|     583|
|        17|      shanghai|Shanghai Internat...|    Shanghai|    China| 31.3389|   121.22|       5|
|        18|    interlagos|Autódromo José Ca...|   São Paulo|   Brazil|-23.7036| -46.6997|     785|
|        19|  indianapolis|Indianapolis Moto...|Indianapolis|      USA|  39.795| -86.2347|     223|
|        20|   nurburgring|         Nürburgring|     Nürburg|  Germany| 50.3356|   6.9475|     578|
+----------+--------------+--------------------+------------+---------+--------+---------+--------+
only showing top 20 rows

#### Adding ingestion date as a column

In [0]:
from pyspark.sql.functions import current_timestamp

In [0]:
circuits_added_df = circuits_selected_df.withColumn("ingestion_date",current_timestamp())

In [0]:
from pyspark.sql.functions import current_timestamp, lit, to_timestamp, concat, col

In [0]:
races_with_timestamp_df = races_df.withColumn("ingestion_date",current_timestamp()) \
                                .withColumn("race_timestamp", to_timestamp(concat(col('date'), lit(' '), col('time')), 'yyyy-MM-dd HH:mm:ss'))

In [0]:
races_with_timestamp_df.show()

+------+----+-----+---------+--------------------+----------+--------+--------------------+--------------------+-------------------+
|raceId|year|round|circuitId|                name|      date|    time|                 url|      ingestion_date|     race_timestamp|
+------+----+-----+---------+--------------------+----------+--------+--------------------+--------------------+-------------------+
|     1|2009|    1|        1|Australian Grand ...|2009-03-29|06:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-03-29 06:00:00|
|     2|2009|    2|        2|Malaysian Grand Prix|2009-04-05|09:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-04-05 09:00:00|
|     3|2009|    3|       17|  Chinese Grand Prix|2009-04-19|07:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-04-19 07:00:00|
|     4|2009|    4|        3|  Bahrain Grand Prix|2009-04-26|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-04-26 12:00:00|
|     5|2009|    5|        4|  Spanish Grand Prix|2009-05-10|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-05-10 12:00:00|
|     6|2009|    6|        6|   Monaco Grand Prix|2009-05-24|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-05-24 12:00:00|
|     7|2009|    7|        5|  Turkish Grand Prix|2009-06-07|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-06-07 12:00:00|
|     8|2009|    8|        9|  British Grand Prix|2009-06-21|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-06-21 12:00:00|
|     9|2009|    9|       20|   German Grand Prix|2009-07-12|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-07-12 12:00:00|
|    10|2009|   10|       11|Hungarian Grand Prix|2009-07-26|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-07-26 12:00:00|
|    11|2009|   11|       12| European Grand Prix|2009-08-23|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-08-23 12:00:00|
|    12|2009|   12|       13|  Belgian Grand Prix|2009-08-30|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-08-30 12:00:00|
|    13|2009|   13|       14|  Italian Grand Prix|2009-09-13|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-09-13 12:00:00|
|    14|2009|   14|       15|Singapore Grand Prix|2009-09-27|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-09-27 12:00:00|
|    15|2009|   15|       22| Japanese Grand Prix|2009-10-04|05:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-10-04 05:00:00|
|    16|2009|   16|       18|Brazilian Grand Prix|2009-10-18|16:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-10-18 16:00:00|
|    17|2009|   17|       24|Abu Dhabi Grand Prix|2009-11-01|11:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-11-01 11:00:00|
|    18|2008|    1|        1|Australian Grand ...|2008-03-16|04:30:00|http://en.wikiped...|2023-09-18 16:13:...|2008-03-16 04:30:00|
|    19|2008|    2|        2|Malaysian Grand Prix|2008-03-23|07:00:00|http://en.wikiped...|2023-09-18 16:13:...|2008-03-23 07:00:00|
|    20|2008|    3|        3|  Bahrain Grand Prix|2008-04-06|11:30:00|http://en.wikiped...|2023-09-18 16:13:...|2008-04-06 11:30:00|
+------+----+-----+---------+--------------------+----------+--------+--------------------+--------------------+-------------------+
only showing top 20 rows

#### Replace null values

In [0]:
cleaned_circuits_df = circuits_added_df.na.fill({"country":"unkown", 
                                                 "location":"unkown"})

#### Drop Duplicated values

In [0]:
drop_dup_circuits_df = cleaned_circuits_df.dropDuplicates()
drop_dup_circuits_df.show()

+----------+--------------+--------------------+------------+---------+--------+---------+--------+--------------------+
|circuit_id|   circuit_ref|                name|    location|  country|latitude|longitude|altitude|      ingestion_date|
+----------+--------------+--------------------+------------+---------+--------+---------+--------+--------------------+
|         8|   magny_cours|Circuit de Nevers...| Magny Cours|   France| 46.8642|  3.16361|     228|2023-09-18 16:13:...|
|        18|    interlagos|Autódromo José Ca...|   São Paulo|   Brazil|-23.7036| -46.6997|     785|2023-09-18 16:13:...|
|        19|  indianapolis|Indianapolis Moto...|Indianapolis|      USA|  39.795| -86.2347|     223|2023-09-18 16:13:...|
|         5|      istanbul|       Istanbul Park|    Istanbul|   Turkey| 40.9517|   29.405|     130|2023-09-18 16:13:...|
|        15|    marina_bay|Marina Bay Street...|  Marina Bay|Singapore|  1.2914|  103.864|      18|2023-09-18 16:13:...|
|        17|      shanghai|Shanghai Internat...|    Shanghai|    China| 31.3389|   121.22|       5|2023-09-18 16:13:...|
|         3|       bahrain|Bahrain Internati...|      Sakhir|  Bahrain| 26.0325|  50.5106|       7|2023-09-18 16:13:...|
|         4|     catalunya|Circuit de Barcel...|    Montmeló|    Spain|   41.57|  2.26111|     109|2023-09-18 16:13:...|
|        21|         imola|Autodromo Enzo e ...|       Imola|    Italy| 44.3439|  11.7167|      37|2023-09-18 16:13:...|
|         9|   silverstone| Silverstone Circuit| Silverstone|       UK| 52.0786| -1.01694|     153|2023-09-18 16:13:...|
|        10|hockenheimring|      Hockenheimring|  Hockenheim|  Germany| 49.3278|  8.56583|     103|2023-09-18 16:13:...|
|        12|      valencia|Valencia Street C...|    Valencia|    Spain| 39.4589|-0.331667|       4|2023-09-18 16:13:...|
|        11|   hungaroring|         Hungaroring|    Budapest|  Hungary| 47.5789|  19.2486|     264|2023-09-18 16:13:...|
|         6|        monaco|   Circuit de Monaco| Monte-Carlo|   Monaco| 43.7347|  7.42056|       7|2023-09-18 16:13:...|
|         7|    villeneuve|Circuit Gilles Vi...|    Montreal|   Canada|    45.5| -73.5228|      13|2023-09-18 16:13:...|
|        13|           spa|Circuit de Spa-Fr...|         Spa|  Belgium| 50.4372|  5.97139|     401|2023-09-18 16:13:...|
|         1|   albert_park|Albert Park Grand...|   Melbourne|Australia|-37.8497|  144.968|      10|2023-09-18 16:13:...|
|        20|   nurburgring|         Nürburgring|     Nürburg|  Germany| 50.3356|   6.9475|     578|2023-09-18 16:13:...|
|        16|          fuji|       Fuji Speedway|       Oyama|    Japan| 35.3717|  138.927|     583|2023-09-18 16:13:...|
|        14|         monza|Autodromo Naziona...|       Monza|    Italy| 45.6156|  9.28111|     162|2023-09-18 16:13:...|
+----------+--------------+--------------------+------------+---------+--------+---------+--------+--------------------+
only showing top 20 rows

#### Filter out records before 1960 and after 2022

In [0]:
filtered_race_df =races_with_timestamp_df.filter((races_with_timestamp_df['year']>=1960) & (races_with_timestamp_df['year']<=2022))
filtered_race_df.show()

+------+----+-----+---------+--------------------+----------+--------+--------------------+--------------------+-------------------+
|raceId|year|round|circuitId|                name|      date|    time|                 url|      ingestion_date|     race_timestamp|
+------+----+-----+---------+--------------------+----------+--------+--------------------+--------------------+-------------------+
|     1|2009|    1|        1|Australian Grand ...|2009-03-29|06:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-03-29 06:00:00|
|     2|2009|    2|        2|Malaysian Grand Prix|2009-04-05|09:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-04-05 09:00:00|
|     3|2009|    3|       17|  Chinese Grand Prix|2009-04-19|07:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-04-19 07:00:00|
|     4|2009|    4|        3|  Bahrain Grand Prix|2009-04-26|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-04-26 12:00:00|
|     5|2009|    5|        4|  Spanish Grand Prix|2009-05-10|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-05-10 12:00:00|
|     6|2009|    6|        6|   Monaco Grand Prix|2009-05-24|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-05-24 12:00:00|
|     7|2009|    7|        5|  Turkish Grand Prix|2009-06-07|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-06-07 12:00:00|
|     8|2009|    8|        9|  British Grand Prix|2009-06-21|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-06-21 12:00:00|
|     9|2009|    9|       20|   German Grand Prix|2009-07-12|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-07-12 12:00:00|
|    10|2009|   10|       11|Hungarian Grand Prix|2009-07-26|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-07-26 12:00:00|
|    11|2009|   11|       12| European Grand Prix|2009-08-23|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-08-23 12:00:00|
|    12|2009|   12|       13|  Belgian Grand Prix|2009-08-30|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-08-30 12:00:00|
|    13|2009|   13|       14|  Italian Grand Prix|2009-09-13|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-09-13 12:00:00|
|    14|2009|   14|       15|Singapore Grand Prix|2009-09-27|12:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-09-27 12:00:00|
|    15|2009|   15|       22| Japanese Grand Prix|2009-10-04|05:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-10-04 05:00:00|
|    16|2009|   16|       18|Brazilian Grand Prix|2009-10-18|16:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-10-18 16:00:00|
|    17|2009|   17|       24|Abu Dhabi Grand Prix|2009-11-01|11:00:00|http://en.wikiped...|2023-09-18 16:13:...|2009-11-01 11:00:00|
|    18|2008|    1|        1|Australian Grand ...|2008-03-16|04:30:00|http://en.wikiped...|2023-09-18 16:13:...|2008-03-16 04:30:00|
|    19|2008|    2|        2|Malaysian Grand Prix|2008-03-23|07:00:00|http://en.wikiped...|2023-09-18 16:13:...|2008-03-23 07:00:00|
|    20|2008|    3|        3|  Bahrain Grand Prix|2008-04-06|11:30:00|http://en.wikiped...|2023-09-18 16:13:...|2008-04-06 11:30:00|
+------+----+-----+---------+--------------------+----------+--------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
join_df = drop_dup_circuits_df.join(filtered_race_df, drop_dup_circuits_df.circuit_id == filtered_race_df.circuitId,"Inner")
select_join_df = join_df.select(drop_dup_circuits_df.circuit_id, drop_dup_circuits_df.circuit_ref, drop_dup_circuits_df.name, drop_dup_circuits_df.location, drop_dup_circuits_df.country,
               filtered_race_df.race_timestamp, filtered_race_df.raceId, filtered_race_df.year, drop_dup_circuits_df.altitude )
select_join_df.show()

+----------+-----------+--------------------+------------+---------+-------------------+------+----+--------+
|circuit_id|circuit_ref|                name|    location|  country|     race_timestamp|raceId|year|altitude|
+----------+-----------+--------------------+------------+---------+-------------------+------+----+--------+
|         1|albert_park|Albert Park Grand...|   Melbourne|Australia|2009-03-29 06:00:00|     1|2009|      10|
|         2|     sepang|Sepang Internatio...|Kuala Lumpur| Malaysia|2009-04-05 09:00:00|     2|2009|      18|
|        17|   shanghai|Shanghai Internat...|    Shanghai|    China|2009-04-19 07:00:00|     3|2009|       5|
|         3|    bahrain|Bahrain Internati...|      Sakhir|  Bahrain|2009-04-26 12:00:00|     4|2009|       7|
|         4|  catalunya|Circuit de Barcel...|    Montmeló|    Spain|2009-05-10 12:00:00|     5|2009|     109|
|         6|     monaco|   Circuit de Monaco| Monte-Carlo|   Monaco|2009-05-24 12:00:00|     6|2009|       7|
|         5|   istanbul|       Istanbul Park|    Istanbul|   Turkey|2009-06-07 12:00:00|     7|2009|     130|
|         9|silverstone| Silverstone Circuit| Silverstone|       UK|2009-06-21 12:00:00|     8|2009|     153|
|        20|nurburgring|         Nürburgring|     Nürburg|  Germany|2009-07-12 12:00:00|     9|2009|     578|
|        11|hungaroring|         Hungaroring|    Budapest|  Hungary|2009-07-26 12:00:00|    10|2009|     264|
|        12|   valencia|Valencia Street C...|    Valencia|    Spain|2009-08-23 12:00:00|    11|2009|       4|
|        13|        spa|Circuit de Spa-Fr...|         Spa|  Belgium|2009-08-30 12:00:00|    12|2009|     401|
|        14|      monza|Autodromo Naziona...|       Monza|    Italy|2009-09-13 12:00:00|    13|2009|     162|
|        15| marina_bay|Marina Bay Street...|  Marina Bay|Singapore|2009-09-27 12:00:00|    14|2009|      18|
|        22|     suzuka|      Suzuka Circuit|      Suzuka|    Japan|2009-10-04 05:00:00|    15|2009|      45|
|        18| interlagos|Autódromo José Ca...|   São Paulo|   Brazil|2009-10-18 16:00:00|    16|2009|     785|
|        24| yas_marina|  Yas Marina Circuit|   Abu Dhabi|      UAE|2009-11-01 11:00:00|    17|2009|       3|
|         1|albert_park|Albert Park Grand...|   Melbourne|Australia|2008-03-16 04:30:00|    18|2008|      10|
|         2|     sepang|Sepang Internatio...|Kuala Lumpur| Malaysia|2008-03-23 07:00:00|    19|2008|      18|
|         3|    bahrain|Bahrain Internati...|      Sakhir|  Bahrain|2008-04-06 11:30:00|    20|2008|       7|
+----------+-----------+--------------------+------------+---------+-------------------+------+----+--------+
only showing top 20 rows

#### Number of unique race names

In [0]:
from pyspark.sql.functions import countDistinct

In [0]:
select_join_df.select(countDistinct("name")).show()

+--------------------+
|count(DISTINCT name)|
+--------------------+
|                  68|
+--------------------+

#### Apply GroupBy

In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

select_join_df = select_join_df.withColumn("altitude", col("altitude").cast(IntegerType()))

In [0]:
result_df = select_join_df.groupBy("name").sum("altitude").withColumnRenamed("sum(altitude)", "sum_altitude")
result_df.show()

+--------------------+------------+
|                name|sum_altitude|
+--------------------+------------+
|           Fair Park|         139|
|Scandinavian Raceway|         918|
|       Istanbul Park|        1040|
|Albert Park Grand...|         250|
|Circuito da Boavista|          28|
|Circuit Gilles Vi...|         533|
|Adelaide Street C...|         638|
|Korean Internatio...|           0|
|      Suzuka Circuit|        1440|
|Buddh Internation...|         582|
|Autodromo Naziona...|        9882|
|   Baku City Circuit|         -35|
| Silverstone Circuit|        7497|
|             A1-Ring|       16950|
|  Yas Marina Circuit|          39|
|   Rouen-Les-Essarts|         243|
|Circuit de Barcel...|        3379|
|Circuit de Spa-Fr...|       18446|
|Autódromo José Ca...|       29830|
|Okayama Internati...|         532|
+--------------------+------------+
only showing top 20 rows

#### Add the results to the existing dataframe

In [0]:
results_df = select_join_df.join(result_df, on="name", how="left")
results_df.show()

+--------------------+----------+-----------+------------+---------+-------------------+------+----+--------+------------+
|                name|circuit_id|circuit_ref|    location|  country|     race_timestamp|raceId|year|altitude|sum_altitude|
+--------------------+----------+-----------+------------+---------+-------------------+------+----+--------+------------+
|Albert Park Grand...|         1|albert_park|   Melbourne|Australia|2009-03-29 06:00:00|     1|2009|      10|         250|
|Sepang Internatio...|         2|     sepang|Kuala Lumpur| Malaysia|2009-04-05 09:00:00|     2|2009|      18|         342|
|Shanghai Internat...|        17|   shanghai|    Shanghai|    China|2009-04-19 07:00:00|     3|2009|       5|          80|
|Bahrain Internati...|         3|    bahrain|      Sakhir|  Bahrain|2009-04-26 12:00:00|     4|2009|       7|         126|
|Circuit de Barcel...|         4|  catalunya|    Montmeló|    Spain|2009-05-10 12:00:00|     5|2009|     109|        3379|
|   Circuit de Monaco|         6|     monaco| Monte-Carlo|   Monaco|2009-05-24 12:00:00|     6|2009|       7|         427|
|       Istanbul Park|         5|   istanbul|    Istanbul|   Turkey|2009-06-07 12:00:00|     7|2009|     130|        1040|
| Silverstone Circuit|         9|silverstone| Silverstone|       UK|2009-06-21 12:00:00|     8|2009|     153|        7497|
|         Nürburgring|        20|nurburgring|     Nürburg|  Germany|2009-07-12 12:00:00|     9|2009|     578|       20230|
|         Hungaroring|        11|hungaroring|    Budapest|  Hungary|2009-07-26 12:00:00|    10|2009|     264|        9504|
|Valencia Street C...|        12|   valencia|    Valencia|    Spain|2009-08-23 12:00:00|    11|2009|       4|          20|
|Circuit de Spa-Fr...|        13|        spa|         Spa|  Belgium|2009-08-30 12:00:00|    12|2009|     401|       18446|
|Autodromo Naziona...|        14|      monza|       Monza|    Italy|2009-09-13 12:00:00|    13|2009|     162|        9882|
|Marina Bay Street...|        15| marina_bay|  Marina Bay|Singapore|2009-09-27 12:00:00|    14|2009|      18|         234|
|      Suzuka Circuit|        22|     suzuka|      Suzuka|    Japan|2009-10-04 05:00:00|    15|2009|      45|        1440|
|Autódromo José Ca...|        18| interlagos|   São Paulo|   Brazil|2009-10-18 16:00:00|    16|2009|     785|       29830|
|  Yas Marina Circuit|        24| yas_marina|   Abu Dhabi|      UAE|2009-11-01 11:00:00|    17|2009|       3|          39|
|Albert Park Grand...|         1|albert_park|   Melbourne|Australia|2008-03-16 04:30:00|    18|2008|      10|         250|
|Sepang Internatio...|         2|     sepang|Kuala Lumpur| Malaysia|2008-03-23 07:00:00|    19|2008|      18|         342|
|Bahrain Internati...|         3|    bahrain|      Sakhir|  Bahrain|2008-04-06 11:30:00|    20|2008|       7|         126|
+--------------------+----------+-----------+------------+---------+-------------------+------+----+--------+------------+
only showing top 20 rows

#### Rank the rows based on year of each name using Window Method

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc, rank

driverRankSpec = Window.partitionBy("location").orderBy(desc("year"))
window_results_df = results_df.withColumn("rank",rank().over(driverRankSpec))
window_results_df.show()

+--------------------+----------+-----------+---------+---------+-------------------+------+----+--------+------------+----+
|                name|circuit_id|circuit_ref| location|  country|     race_timestamp|raceId|year|altitude|sum_altitude|rank|
+--------------------+----------+-----------+---------+---------+-------------------+------+----+--------+------------+----+
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2021-12-12 13:00:00|  1073|2021|       3|          39|   1|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2020-12-13 13:10:00|  1047|2020|       3|          39|   2|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2019-12-01 13:10:00|  1030|2019|       3|          39|   3|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2018-11-25 13:10:00|  1009|2018|       3|          39|   4|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2017-11-26 13:00:00|   988|2017|       3|          39|   5|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2016-11-27 13:00:00|   968|2016|       3|          39|   6|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2015-11-29 13:00:00|   945|2015|       3|          39|   7|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2014-11-23 13:00:00|   918|2014|       3|          39|   8|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2013-11-03 13:00:00|   897|2013|       3|          39|   9|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2012-11-04 13:00:00|   877|2012|       3|          39|  10|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2011-11-13 13:00:00|   858|2011|       3|          39|  11|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2010-11-14 13:00:00|   355|2010|       3|          39|  12|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2009-11-01 11:00:00|    17|2009|       3|          39|  13|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   256|1995|      58|         638|   1|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   272|1994|      58|         638|   2|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   288|1993|      58|         638|   3|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   304|1992|      58|         638|   4|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   320|1991|      58|         638|   5|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   336|1990|      58|         638|   6|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   371|1989|      58|         638|   7|
+--------------------+----------+-----------+---------+---------+-------------------+------+----+--------+------------+----+
only showing top 20 rows

In [0]:
# Register the window_results_df as a temporary SQL table
window_results_df.createOrReplaceTempView("ranked_table")

#### Limit ranks to 10 using SQL

In [0]:
 sql_query = """
    SELECT *
    FROM ranked_table
    WHERE rank<11
"""

grouped_df = spark.sql(sql_query)
grouped_df.show()

+--------------------+----------+-----------+---------+---------+-------------------+------+----+--------+------------+----+
|                name|circuit_id|circuit_ref| location|  country|     race_timestamp|raceId|year|altitude|sum_altitude|rank|
+--------------------+----------+-----------+---------+---------+-------------------+------+----+--------+------------+----+
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2021-12-12 13:00:00|  1073|2021|       3|          39|   1|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2020-12-13 13:10:00|  1047|2020|       3|          39|   2|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2019-12-01 13:10:00|  1030|2019|       3|          39|   3|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2018-11-25 13:10:00|  1009|2018|       3|          39|   4|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2017-11-26 13:00:00|   988|2017|       3|          39|   5|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2016-11-27 13:00:00|   968|2016|       3|          39|   6|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2015-11-29 13:00:00|   945|2015|       3|          39|   7|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2014-11-23 13:00:00|   918|2014|       3|          39|   8|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2013-11-03 13:00:00|   897|2013|       3|          39|   9|
|  Yas Marina Circuit|        24| yas_marina|Abu Dhabi|      UAE|2012-11-04 13:00:00|   877|2012|       3|          39|  10|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   256|1995|      58|         638|   1|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   272|1994|      58|         638|   2|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   288|1993|      58|         638|   3|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   304|1992|      58|         638|   4|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   320|1991|      58|         638|   5|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   336|1990|      58|         638|   6|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   371|1989|      58|         638|   7|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   387|1988|      58|         638|   8|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   403|1987|      58|         638|   9|
|Adelaide Street C...|        29|   adelaide| Adelaide|Australia|               null|   419|1986|      58|         638|  10|
+--------------------+----------+-----------+---------+---------+-------------------+------+----+--------+------------+----+
only showing top 20 rows

In [0]:
grouped_df.write.mode("overwrite").csv("abfss://container@arianazuredl1.dfs.core.windows.net/processed/transformed")